@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body{
  color:#222;
  height: 100%;
  width: 100%;
  font: 'Nunito', sans-serif;
}

.navbar-dark {
  background-color: #009fb7 !important;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

#answer-button-grid {
  margin: 0 auto;
}

#btnNext{
  background:#009fb7;
  color:white;
}

.btn-secondary {
  background-color: #fed766;
  color: #272727;
  border: none;
  font-size: 5rem !important;
}

.btn-secondary:hover {
  color: white;
}

p { margin: 0 !important;
padding: 0 !important;}

pre{
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

/**
  The following CSS is for prototyping only
**/
#question-ask {
  font-size: 200%;
  width: 75%;
  margin: 0 auto;
  padding-top: 20px;
}

hr {
  border-top: 5px solid #2c514c;
  width: 25%;
  margin-top: 1rem;
}

/* Developer Icons */
.fa-html5 {
  color: #E34C26;
}

.fa-css3 {
  color: #2163af;
}

.fa-js {
  color: #F2D73C;
}

.fa-code {
  color: #003366;
  font-size: 8rem;
}

.fa-bootstrap {
  color: #602C50;
}

.fa-html5, .fa-js, .fa-css3, .fa-bootstrap {
  font-size: 4rem;
  margin: 1rem;
}

.padding {
  margin: 1rem;
}









li{
  list-style-type: none;
}
.space{
  margin-top: 4rem;
}

.row--top--buffer{
  margin-top:1.3rem;
}

.answer pre{
  color: #272727 !important;
  text-align: left !important;
  margin-bottom: 0 !important;
}

.answer pre:hover {
  color: white !important;;
}

.answer{
  text-align: left !important;
}
.selectedAnswer{
  background-color: #95818d !important;
  border: none !important;
}
.selectedAnswer:hover{
  background-color: grey !important;
}
